.table {
    border: 1px solid;
    border-collapse: collapse;
    margin: 20px 10px;
}

.table td,
.table th {
    border: 1px solid;
    padding: 5px;
}

.table th {
    cursor: pointer;
    position: -webkit-sticky;
    position: sticky;
    background: white;
    top: 0;
    z-index: 10;
}

.table td:not(:nth-child(2)) {
    text-align: right;
    position: relative;
}

.min {
    background-color:#cfc;
}

.no {
    background-color:#ccc;
}

.recent.recent {
    border-color: #ca12d0;
    border-width: 1px;
    background-size: 200% 463%;
    background-position: 20% center;
    background-image: radial-gradient(transparent 0, transparent 40%, #ca12d0b3 40%, #ca12d0b3);
}

.in-progress.in-progress.in-progress {
    background-color: #fcff7b;
    text-align: center;
}

.rowInCell {
    white-space: nowrap;
}

.show-all {
    margin: 15px 10px;
    font-size: 15px;
    padding: 7px 10px;
    border-radius: 5px;
    background: white;
    box-shadow: none;
    border: 1px solid #666;
    cursor: pointer;
}

.list-toggle {
    background: none;
    box-shadow: none;
    border: none;
    color: #2a7ae2;
    text-decoration: underline;
    text-decoration-style: dashed;
    margin: 15px 10px;
    font-size: 15px;
    padding: 7px 10px;
    cursor: pointer;
}

.toggle {
    display: inline-block;
    position: relative;
    margin: 10px 30px 10px 10px;
    line-height: 38px;
    padding-top: 5px;
}

.toggle-text {
    font-family: 'Segoe UI', Helvetica, Arial sans-serif;
    margin-left: 5px;
}
